# values.yaml
database:
  user: ps_user
  password: SecurePassword
  name: ps_db_dev


##Example usage:

# # deployment.yaml (Helm template)
# apiVersion: apps/v1
# kind: Deployment
# metadata:
  # name: {{ .Values.database.name }}
# spec:
  # containers:
    # - name: postgres
      # env:
        # - name: POSTGRES_USER
          # value: {{ .Values.database.user }}
        # - name: POSTGRES_PASSWORD
          # value: {{ .Values.database.password }}
